@{

}
<!doctype html>
<html class="no-js fixed-layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <title>@CustomHelper.GetValue("Website-Titlte")</title>
    <link href="/Styles/css/amazeui.css" rel="stylesheet" />
    <link href="/Scripts/tipso/css/tipso.min.css" rel="stylesheet" />
    <link href="/Styles/admin.css" rel="stylesheet" />
    <link href="/Scripts/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" />
    <link href="/Styles/zTreeStyle/zTreeStyle.css" rel="stylesheet" />


    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/jquery-validation/js/jquery.validate.js"></script>
    <script src="/Scripts/jquery.form.js"></script>
    <script src="/Scripts/amazeui.min.js"></script>
    <script src="/Scripts/tipso/js/tipso.js"></script>
    <script src="/Scripts/Nuoya/nuoya.core.js"></script>
    <script src="/Scripts/Nuoya/nuoya.grid.js"></script>
    <script src="/Scripts/Nuoya/nuoya.form.js"></script>
    <script src="/Scripts/Nuoya/nuoya.other.js"></script>
    <script src="/Scripts/My97DatePicker/WdatePicker.js"></script>
    <script src="/Scripts/My97DatePicker/config.js"></script>
    <script src="/Scripts/My97DatePicker/lang/zh-cn.js"></script>
    <script src="/Scripts/file_upload_plug-in.js"></script>
    <script src="/Scripts/jquery.ztree.all-3.5.min.js"></script>
    <script src="/Scripts/ztree-select.js"></script>
    @RenderSection("linkcss", required: false)
    <style>
        [class*=am-icon-] {
            display: inline-block;
            font-style: normal;
        }
    </style>
    <script>
        function changePassword() {
            $.Nuoya.ajaxDialog({
                closeViaDimmer: false,
                width: ($(window).width() - 40) + "px",
                height: ($(window).height() - 400) + "px",
                ajaxUrl: "/Areas/Admin/HtmlTemplates/User/ChangePassword.html",
                title: "修改密码",
                callback: function (e) {
                        $(".am-modal-alert").css({ "top": "35%" }, { "left": "10%" });
                        $(".am-text-right").hide();
                },
                buttons: [{
                    label: "保存",
                    callback: function (e) {

                        var oldPassword = $("[name='pasword']").val();
                        var newPassword = $("[name='new_password']").val();
                        var cfmPassword = $("[name='confirm_password']").val();

                        if (oldPassword != "" && newPassword != "" && cfmPassword != "") {
                            if (newPassword != cfmPassword) {
                                $.Nuoya.alert("密码不能为空");
                                return false;
                            }
                            $.Nuoya.action("/account/ChangePassword", { pasword: oldPassword, new_password: newPassword, confirm_password: cfmPassword, id: '@(LoginHelper.GetCurrentUser()?.ID)' }, function (data) {
                                if (!data.ErrorDesc) {
                                    $.Nuoya.alert("修改密码成功");
                                    e.hide();
                                }
                                else
                                    $.Nuoya.alert(data.ErrorDesc);

                            });
                        }
                        else
                            $.Nuoya.alert("密码不能为空");
                    }
                }]
            });
        }

            function ShowLoading() {
                $("#loadingDiv").show();
            }
            function CloseLoading() {
                $("#loadingDiv").hide();
            }

            function showBillState(item) {
                switch (item.audit_state) {
                    case 1:
                        return "成功";
                        break;
                    case 2:
                        return "失败";
                        break;
                }
            }

            function showAuditState(item) {
                switch (item.audit_state) {
                    case 0:
                        return "待审核";
                        break;
                    case 1:
                        return "成功";
                        break;
                    case 2:
                        return "驳回";
                        break;
                }
            }
            function showPayType(item) {
                switch (item.type) {
                    case 0:
                        return "人工";
                        break;
                    case 1:
                        return "支付宝";
                        break;
                    case 2:
                        return "微信";
                        break;
                }
            }
    </script>


</head>

<body>
    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <a href="/home/index"><strong>@CustomHelper.GetValue("Website-Titlte")---@ViewBag.Title</strong></a>
        </div>
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
                <li><a href="javascript:#"><span class="am-icon-user">@(LoginHelper.GetCurrentUser()?.Account)</span></a></li>
                <li><a href="javascript:changePassword()"><span class="am-icon-download">修改密码</span></a></li>
                <li><a href="/account/Quit" class="admin-quit"><span class="am-icon-sign-out"></span> <span>注销</span></a></li>
            </ul>
        </div>
    </header>
    <div class="am-cf admin-main am-text-left" style="padding-top:0px;">

        <div id="imgDiv" style="opacity:1;background-color:black;width:100%;height:100%;z-index:9000; display:none; position:absolute;">
            <div style="width:500px; margin:0 auto; z-index:9001;margin-top:10%">
                <img src="" style="width:100%;" />
            </div>
        </div>

        <div id="loadingDiv" style="opacity:0.7;background-color:black;width:100%;height:100%;z-index:9000; display:none; position:absolute;">
            <div style="width:500px; margin:0 auto; z-index:9001;margin-top:20%">
                <img src="~/Images/loading.jpg" />
            </div>
        </div>


        <!-- sidebar start -->
        <div class="admin-sidebar  am-offcanvas" id="admin-offcanvas">
            <div class="am-offcanvas-bar admin-offcanvas-bar">
                <ul class="am-list admin-sidebar-list  am-text-sm">
                    <li><a href="/home/index"><span class="am-icon-home"></span> 个人中心</a></li>
                    <li><a href="/home/getcode"><span class="am-icon-home"></span> 获取验证码</a></li>
                    <li><a href="/project/index"><span class="am-icon-home"></span> 项目列表</a></li>
                    <li><a href="/SmsSend/index"><span class="am-icon-home"></span> 发短信记录</a></li>
                    <li><a href="/SmsInbox/index"><span class="am-icon-home"></span> 收短信记录</a></li>
                    <li><a href="/recharge/index"><span class="am-icon-home"></span> 充值记录</a></li>
                    <li><a href="/InviteBill/index"><span class="am-icon-home"></span> 下线提成</a></li>
                    <li><a href="/withdrawals/index"><span class="am-icon-home"></span> 提现记录</a></li>
                    <li><a href="/account/update?id=@(LoginHelper.GetCurrentUser()?.ID)"><span class="am-icon-home"></span> 修改资料</a></li>                 
                </ul>
            </div>
        </div>
        <!-- sidebar end -->
        <!-- content start -->
        <div class="admin-content">
            <div style="margin-top:50px;">
                @RenderBody()
            </div>

        </div>
        <!-- content end -->
    </div>

    <a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
    @RenderSection("scripts", false)
</body>
</html>
