@{
}
<!doctype html>
<html class="no-js fixed-layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <title>@CustomHelper.GetValue("Website-Titlte")</title>
    <link href="~/Styles/css/amazeui.css" rel="stylesheet" />
    <link href="~/Styles/bootstrap.css" rel="stylesheet" />
    <link href="~/Styles/user.css" rel="stylesheet" />
    @RenderSection("linkcss", required: false)
    <style type="text/css">
        #footer {
            line-height: 46px;
            color: #8a8a8a;
            border-top: 1px solid #dadada;
            text-align: left;
        }

            #footer a {
                color: #8a8a8a;
                margin: 0px 5px;
                outline: none;
                text-decoration: none;
            }

        .lh20 {
            line-height: 20px;
            text-align: center;
        }

        img {
            border: 0;
        }

        .tonglan {
            width: 960px;
            height: 145px;
            margin: 10px 0px 10px 10px;
        }

        body {
            background-color: #FBFBFF;
            font-size: 12px;
        }

        .user-class {
            padding-left: 0px;
        }
    </style>
    <script>

        function changePassword() {
            $.Nuoya.ajaxDialog({
                closeViaDimmer: false,
                width: (isForPhone ? (($(window).width() - 40) + "px") : "800px"),
                height: (isForPhone ? (($(window).height() - 300) + "px") : "280px"),
                ajaxUrl: "/HtmlTemplates/Admin/ChangePassword.html",
                title: "修改密码",
                buttons: [{
                    label: "保存",
                    callback: function (e) {

                        var oldPassword = $("[name='OldPassword']").val();
                        var newPassword = $("[name='NewPassword']").val();
                        var cfmPassword = $("[name='ConfirmPassword']").val();

                        if (oldPassword != "" && newPassword != "" && cfmPassword != "") {
                            if (newPassword != cfmPassword) {
                                $.Nuoya.alert("密码不能为空");
                                return false;
                            }
                            $.Nuoya.action("/account/ChangePassword", { oldPassword: oldPassword, newPassword: newPassword, cfmPassword: cfmPassword, id: '@(LoginHelper.GetCurrentUser()?.ID)' }, function (data) {
                                if (!data.ErrorDesc) {
                                    $.Nuoya.alert("修改密码成功");
                                    e.hide();
                                }
                                else
                                    $.Nuoya.alert(data.ErrorDesc);

                            });
                        }
                        else
                            $.Nuoya.alert("密码不能为空");
                    }
                }]
            });
        }



        //获取Json的日期
        function RenderDate(data) {
            var da = eval('new ' + data.replace('/', '', 'g').replace('/', '', 'g'));
            return da.getFullYear() + "-" + (da.getMonth() + 1) + "-" + da.getDate();
        }
        //获取Json的时间
        function RenderTime(data) {
            var da = eval('new ' + data.replace('/', '', 'g').replace('/', '', 'g'));
            return da.getFullYear() + "-" + (da.getMonth() + 1) + "-" + da.getDate() + " " + da.getHours() + ":" + da.getSeconds() + ":" + da.getMinutes();
        }




        //返回上一页
        function BackUrl() {
            history.go(-1);
        }


        function ShowLoading() {
            $("#loadingDiv").show();
        }
        function CloseLoading() {
            $("#loadingDiv").hide();
        }
    </script>


</head>
<body>
    <div class="" style="display: none; position: absolute;">
        <div class="aui_outer">
            <table class="aui_border">
                <tbody>
                    <tr>
                        <td class="aui_nw"></td>
                        <td class="aui_n"></td>
                        <td class="aui_ne"></td>
                    </tr>
                    <tr>
                        <td class="aui_w"></td>
                        <td class="aui_c">
                            <div class="aui_inner">
                                <table class="aui_dialog">
                                    <tbody>
                                        <tr>
                                            <td colspan="2" class="aui_header">
                                                <div class="aui_titleBar">
                                                    <div class="aui_title" style="cursor: move; display: block;"></div>
                                                    <a class="aui_close" href="javascript:/*artDialog*/;" style="display: block;">×</a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="aui_icon" style="display: none;">
                                                <div class="aui_iconBg" style="background: none;"></div>
                                            </td>
                                            <td class="aui_main" style="width: auto; height: auto;">
                                                <div class="aui_content" style="padding: 20px 25px;"></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="aui_footer">
                                                <div class="aui_buttons" style="display: none;"></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                        <td class="aui_e"></td>
                    </tr>
                    <tr><td class="aui_sw"></td><td class="aui_s"></td><td class="aui_se" style="cursor: se-resize;"></td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://www.xunma.net/help.html" target="_blank">讯码平台接码操作说明请点击访问：www.xunma.net/help.html</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"> </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown">
                            <a href="http://www.xunma.net/userManage/UserInfo.aspx#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span>会员中心<b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="http://www.xunma.net/">返回首页</a></li>
                                <li><a href="http://www.xunma.net/UserManage/userExit.aspx">退出</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>    <div class="container">
            <div class="container">
                <div class="row">
                    <div class="masthead" style="margin-top:30px">
                        <p class="text-warning">创造无尽财富，不一样的感觉！&nbsp;&nbsp;唯一客服QQ：1219665767&nbsp;&nbsp;官方QQ群：375101321</p><div class="row">
                            <div class="masthead" style="margin-top:0px">
                                <p class="text-warning">
                                </p>
                                <ul class="nav nav-justified">
                                    <li><a href="http://www.xunma.net/userManage/Index.aspx">个人信息</a></li>

                                    <li><a href="http://www.xunma.net/userManage/GetCode.aspx">获取验证码</a></li>

                                    <li><a href="http://www.xunma.net/userManage/Category.aspx">项目列表</a></li>
                                    <li><a href="http://www.xunma.net/userManage/Message.aspx">短信记录</a></li>
                                    <li><a href="http://www.xunma.net/userManage/Money.aspx">充值记录</a></li>
                                    <li><a href="http://www.xunma.net/userManage/UserDraw.aspx">下线提成</a></li>
                                    <li><a href="http://www.xunma.net/userManage/WithDraw.aspx">提现记录</a></li>
                                    <li><a href="http://www.xunma.net/userManage/UserInfo.aspx">修改资料</a></li>
                                </ul>
                            </div>
                        </div>
                        <br><div style="width:100%">
                            <div class="row">
                                <p class="text-warning">
                                    <a href="http://www.xunma.net/download/User.exe" class="btn btn-primary btn-lg">电脑用户端软件下载</a>&nbsp;&nbsp;&nbsp;批量高效接收，体验更便捷！　
                                    <a data-target="#pay" data-toggle="modal" cursor:pointer;'="" class="btn btn-primary btn-lg">点击充值</a>
                                    赶快推广下线，领取消费提成奖励哦！！！高达消费的10%
                                </p>
                                <script src="./个人中心_files/jquery.validate.min.js.下载"></script>
                                <script src="./个人中心_files/messages_zh.js.下载"></script>
                                <div style="margin-top:10px;width:100%">
                                    <div class="row">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">修改个人资料</div>
                                            <div class="panel-body">
                                                <div class="row  col-md-offset-3 col-md-6">
                                                    <fieldset>
                                                        <div class="form-group">
                                                            <label class="col-md-3">当前密码</label>
                                                            <div class="col-md-6">
                                                                <input type="password" id="userPassword" class="form-control" placeholder="当前密码" required="">
                                                            </div>
                                                        </div><br><br>
                                                        <div class="form-group">
                                                            <label class="col-sm-3">新密码</label>
                                                            <div class="col-md-6">
                                                                <input type="password" id="newPassword" class="form-control" placeholder="新密码" required="">
                                                            </div>
                                                        </div><br><br>
                                                        <div class="form-group">
                                                            <label class="col-md-3">重复新密码</label>
                                                            <div class="col-md-6">
                                                                <input type="password" id="repeatNewPassword" class="form-control" placeholder="重复新密码" required="">
                                                            </div>
                                                        </div><br><br>
                                                        <div class="form-group">
                                                            <label class="col-md-3">真实姓名</label>
                                                            <div class="col-md-6">
                                                                <input type="text" id="trueName" class="form-control" value="李桂滨" placeholder="真实姓名">
                                                            </div>
                                                        </div><br><br>
                                                        <div class="form-group">
                                                            <label class="col-md-3">支付宝</label>
                                                            <div class="col-md-6">
                                                                <input type="text" id="alipayUser" class="form-control" value="13960988626" placeholder="支付宝">
                                                            </div>
                                                        </div><br><br>
                                                        <div class="form-group">
                                                            <label class="col-md-3">联系电话</label>
                                                            <div class="col-md-6">
                                                                <input type="text" id="Phone" class="form-control" value="13960988626" placeholder="联系电话">
                                                            </div>
                                                        </div><br><br>
                                                        <div class="form-group">
                                                            <label class="col-md-3">QQ</label>
                                                            <div class="col-md-6">
                                                                <input type="text" id="userQQ" class="form-control" value="424099029" placeholder="QQ">
                                                            </div>
                                                        </div><br><br>
                                                        <div class="form-group">
                                                            <label class="col-md-3">邮箱</label>
                                                            <div class="col-md-6">
                                                                <input type="text" id="userEmail" class="form-control" value="424099029@qq.com" placeholder="邮箱">
                                                            </div>
                                                        </div><br><br>
                                                    </fieldset><br>
                                                    <button type="button" onclick="modUser()" class="btn btn-success">确认保存</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    function modUser() {
                                        var userPassword = $("#userPassword").val();
                                        var newPassword = $("#newPassword").val();
                                        var repeatNewPassword = $("#repeatNewPassword").val();
                                        var trueName = $("#trueName").val();
                                        var Phone = $("#Phone").val();
                                        var userQQ = $("#userQQ").val();
                                        var userEmail = $("#userEmail").val();
                                        var alipayUser = $("#alipayUser").val();

                                        $.post('action.aspx', { type: 'modUser', alipayUser: alipayUser, userPassword: userPassword, newPassword: newPassword, repeatNewPassword: repeatNewPassword, trueName: trueName, Phone: Phone, userQQ: userQQ, userEmail: userEmail },
                                            function (data) {
                                                alert(data);
                                            });
                                    }
                                </script>
                            </div>
                            <div class="modal fade" id="pay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <form name="alipayment" id="alipayment" action="http://www.xunma.net/aliPay/Default.aspx" method="get" target="_blank">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title" id="H2">在线充值</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="alert alert-danger">
                                                    <div class="form-group">
                                                        <label>
                                                            <input type="radio" class="selType" name="optionsRadios" id="Radio1" value="2" checked="">
                                                            充值金额（单笔充值满100元送10%，上不封顶！）
                                                        </label>
                                                        <input type="hidden" name="ln" value="sms001">
                                                        <input type="text" class="form-control" name="pay" style="width:60%" placeholder="如:100">
                                                    </div>
                                                </div>
                                                <input name="btnCheck" type="button" value="确定充值" class="btn btn-danger" onclick="CheckForm1();" data-bind="click: Topup">
                                                <div class="panel panel-info">
                                                    <div class="panel-body">
                                                        <div class="alert alert-danger">
                                                            <h6>最低充值金额1元,充值立即到账.有问题请联系客服QQ：1219665767</h6>
                                                            <h6>1.请用多少充多少, 充值金额不可提现，只可在本站消费。</h6>
                                                            <h6>2.用户积分计算方式为充值总额。一元为1分，积分只会增加不会减少。</h6>
                                                        </div>
                                                        <h4>第一步：输入金额，点确认充值。</h4>
                                                        <h4>第二步：充值成功后立即到账，可<a href="http://www.xunma.net/userManage/Money.aspx">充值记录</a>页面查看</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <script>
                                    $(function () {
                                        $(".panel-body").find("p").eq(5).find('a').attr('data-target', '#pay');
                                    })
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><div style="display: none; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; cursor: move; opacity: 0; background: rgb(255, 255, 255);"></div>
</body>
@RenderBody()
@RenderSection("scripts", false)
</html>
