@model app_user
@{
    Layout = null;
    var code = Request["invite_code"];
}

<!DOCTYPE html>
<html>
<head>
    <title>@CustomHelper.GetValue("Website-Titlte") -@(Model.id==0 ? "注册" : "编辑") </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    @*<meta name="renderer" content="webkit">*@
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/Styles/reg.css" rel="stylesheet" />
    <link href="~/Scripts/tipso/css/tipso.min.css" rel="stylesheet" />

    <style>
        .am-text-danger{
            color:red;
        }
    </style>
</head>
<body>
    <div class="main" style="">
        <div class="header" style="">
            <h1>@(Model.id == 0 ? "新用户注册" : "编辑用户信息")</h1>
            @if (Model.id == 0)
            {
                <p class="registered">已有账号?<a href="/account/login">立即登录</a></p>
            }
        </div>
        <form id="regForm">
            <ul class="dataform">
                <li>
                    <lable class="info">账号:<strong class="am-text-danger am-text-sm">*</strong></lable><input type="text" placeholder="请输入账号" required id="username" name="username" value="@(Model.username)" @(Model.id != 0 ? "readonly" : "") />
                    <div class="clear"> </div>
                </li>
                <input name="id" type="hidden" value="@(Model.id)" />
                @if (Model.id == 0)
                {
                    <li>
                        <lable class="info">密码:<strong class="am-text-danger am-text-sm">*</strong></lable><input type="password" placeholder="请输入密码" required name="new_password" maxlength="12" />
                        <div class="clear"> </div>
                    </li>
                    <li>
                        <lable class="info">确认密码:<strong class="am-text-danger am-text-sm">*</strong></lable><input type="password" placeholder="确认密码" required name="confirm_password" maxlength="12" />
                        <div class="clear"> </div>
                    </li>
                }
                <li>
                    <lable class="info">邮箱:</lable><input type="text" placeholder="请输入邮箱" name="email" maxlength="32" value="@(Model.email)" />
                    <div class="clear"> </div>
                </li>
                <li>
                    <lable class="info">手机:</lable><input type="text" placeholder="请输入手机"  name="phone" maxlength="11" value="@(Model.phone)" />
                    <div class="clear"> </div>
                </li>
                <li>
                    <lable class="info">QQ:</lable><input type="text" placeholder="请输入QQ" name="qq" maxlength="32" value="@(Model.qq)" />
                    <div class="clear"> </div>
                </li>
                <li>
                    <lable class="info">支付宝姓名:<strong class="am-text-danger am-text-sm">*</strong></lable><input type="text" placeholder="请输入支付宝姓名" required name="alipay_name" maxlength="32" value="@(Model.alipay_name)" />
                    <div class="clear"> </div>
                </li>
                <li>
                    <lable class="info">支付宝账号:<strong class="am-text-danger am-text-sm">*</strong></lable><input type="text" placeholder="请输入支付宝账号" name="alipay_acc" maxlength="32" value="@(Model.alipay_acc)" />
                    <div class="clear"> </div>
                </li>
                @if (Model.id == 0)
                {
                    if (code.IsNotNullOrEmpty() && code.Length == 6)
                    {
                    <input  type="hidden" name="invite_user_code" value="@(code)"/>
                    }
                    else
                    {
                    <li>
                        <lable class="info">邀请码:<strong class="am-text-danger am-text-sm">*</strong></lable><input type="number"  name="invite_user_code" maxlength="6" value="@(Model.invite_code)" />
                        <div class="clear"> </div>
                    </li>
                    }
                }
                <li>
                    <lable class="info">验证码:<strong class="am-text-danger am-text-sm">*</strong></lable>
                    <div style="width:70%;float:left;">
                        <input type="text" style="width:56%;" placeholder="请输入验证码" required name="code" />
                        <img id="img_code" style="width:30%;height:2rem;float:left;" alt="" title="点击重新获取" src="/account/validatecode" onclick="javascript:$(this).attr('src','/account/validatecode?r='+Math.random());" />
                    </div>
                    <div class="clear"> </div>
                </li>
                @if (Model.id != 0)
                {
                    <button class="submit-btn" onclick="Save()" style="height:50px;margin-left:10%;">保存</button>
                }
                else
                {
                    <button class="submit-btn" onclick="Submit()">注册</button>
                }
                <div class="clear"> </div>
            </ul>
            <div class="clear"> </div>

        </form>

    </div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/jquery-validation/js/jquery.validate.js"></script>
    <script src="~/Scripts/Nuoya/nuoya.core.js"></script>
    <script src="~/Scripts/Nuoya/nuoya.form.js"></script>
    <script src="~/Scripts/tipso/js/tipso.js"></script>
    <script type="text/javascript">

        function formInit(dataitem) {
            var isAdd = "@(Model.id)" == "0";
            if (isAdd) {
                //添加表单验证
                $.Nuoya.form("regForm").validate({
                    rules: {
                        username: {
                            required: true,
                            maxlength: 12
                        },
                        new_password: {
                            required: true,
                            maxlength: 12
                        },
                        confirm_password: {
                            required: true,
                            maxlength: 12
                        },
                        email: {
                            maxlength: 126,
                            email: true,
                        },
                        qq: {
                            maxlength: 32
                        },
                        phone: {
                            mobile: true,
                        },
                        alipay_name: {
                            required: true,
                            maxlength: 32
                        },
                        alipay_acc: {
                            required: true,
                            maxlength: 32
                        },
                        code: {
                            required: true
                        },
                        invite_code: {
                            required: true
                        }
                    },
                    messages: {
                        username: {
                            required: "用户名不允许为空",
                            maxlength: "最多{0}个字符"
                        },
                        new_password: {
                            required: "密码不允许为空",
                            maxlength: "最多{0}个字符"
                        },
                        confirm_password: {
                            required: "确认密码不允许为空",
                            maxlength: "最多{0}个字符"
                        },
                        email: {
                            maxlength: "最多{0}个字符",
                        },
                        qq: {
                            maxlength: "最多{0}个字符"
                        },
                        phone: {
                        },
                        alipay_name: {
                            required: "支付宝姓名不允许为空",
                            maxlength: "最多{0}个字符"
                        },
                        alipay_acc: {
                            required: "支付宝账号不允许为空",
                            maxlength: "最多{0}个字符"
                        },
                        code: {
                            required: "验证码不允许为空",
                        },
                        invite_code: {
                            required: "验证码不允许为空",
                        },
                    }
                });
            }
            else {
                //添加表单验证
                $.Nuoya.form("regForm").validate({
                    rules: {
                        email: {
                            maxlength: 126,
                            email: true,
                        },
                        qq: {
                            maxlength: 32
                        },
                        phone: {
                            mobile: true,
                        },
                        alipay_name: {
                            required: true,
                            maxlength: 32
                        },
                        alipay_acc: {
                            required: true,
                            maxlength: 32
                        },
                        code: {
                            required: true
                        }
                    },
                    messages: {
                        email: {
                            maxlength: "最多{0}个字符",
                        },
                        qq: {
                            maxlength: "最多{0}个字符"
                        },
                        phone: {
                        },
                        alipay_name: {
                            required: "支付宝姓名不允许为空",
                            maxlength: "最多{0}个字符"
                        },
                        alipay_acc: {
                            required: "支付宝账号不允许为空",
                            maxlength: "最多{0}个字符"
                        },
                        code: {
                            required: "验证码不允许为空",
                        },
                    }
                });
            }
        }
        formInit();
        function Submit() {
                $.Nuoya.form("regForm").ajaxSubmit({
                    ajaxUrl: "/Account/Register",
                    callback: function (data) {
                        if (!data.ErrorDesc) {
                            window.location.href = "/home/index";
                        }
                        else {
                            alert(data.ErrorDesc);
                        }
                        return;
                    }
                });

        }

        function Save() {
            $.Nuoya.form("regForm").ajaxSubmit({
                ajaxUrl: "/Account/Save",
                callback: function (data) {
                    if (!data.ErrorDesc) {
                        alert("修改成功");
                        window.location.href = "/home/index";
                    }
                    else {
                        alert(data.ErrorDesc);
                    }
                    return;
                }
            });
        }
    </script>

</body>
</html>          