@model  app_user
@{
    ViewBag.Title = "个人中心";
}

<div class="am-g  am-padding-top">
    <div class="am-u-md-12">
        <div class="am-panel am-panel-default">
            <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-1'}">个人中心<span class="am-icon-chevron-down am-fr"></span></div>
            <div id="collapse-panel-1" class="am-in">

                <div class="am-cf am-padding am-padding-bottom-sm">
                    <div class="am-fl am-cf">
                        <strong class="am-text-primary am-text-lg">姓名</strong> :<span class="am-text-danger am-text-lg">@(Model.alipay_name)</span>
                    </div>
                </div>
                <div class="am-cf am-padding am-padding-bottom-sm">
                    <div class="am-fl am-cf">
                        <strong class="am-text-primary am-text-lg">Vip等级</strong> :<span class="am-text-danger am-text-lg">@(Model.vip_level)</span>
                    </div>
                </div>
                <div class="am-cf am-padding am-padding-bottom-sm">
                    <div class="am-fl am-cf">
                        <strong class="am-text-primary am-text-lg">优惠</strong> :<span class="am-text-danger am-text-lg">@(Model.discount)</span>%
                    </div>
                </div>
                <div class="am-cf am-padding am-padding-bottom-sm">
                    <div class="am-fl am-cf">
                        <strong class="am-text-primary am-text-lg">支付宝账号</strong> :<span class="am-text-danger am-text-lg">@(Model.alipay_acc)</span>
                    </div>
                </div>
                <div class="am-cf am-padding am-padding-bottom-sm">
                    <div class="am-fl am-cf">
                        <strong class="am-text-primary am-text-lg">用户余额</strong> :<span class="am-text-danger am-text-lg">@(Model.funds)</span>
                    </div>
                </div>
                <div class="am-cf am-padding am-padding-bottom-sm">
                    <div class="am-fl am-cf">
                        <strong class="am-text-primary am-text-lg">推广余额</strong> :<span class="am-text-danger am-text-lg">@(Model.invite_funds)</span>
                    </div>
                </div>
                <div class="am-cf am-padding am-padding-bottom-sm">
                    <div class="am-fl am-cf">
                        <strong class="am-text-primary  am-text-lg">qq</strong> :<span class="am-text-danger am-text-lg">@(Model.qq)</span>
                    </div>
                </div>
                <div class="am-cf am-padding am-padding-bottom-sm">
                    <div class="am-fl am-cf">
                        <strong class="am-text-primary am-text-lg">email</strong> :<span class="am-text-danger am-text-lg">@(Model.email)</span>
                    </div>
                </div>
                <div class="am-cf am-padding am-padding-bottom-sm">
                    <div class="am-fl am-cf">
                        <strong class="am-text-primary am-text-lg">手机</strong> :<span class="am-text-danger am-text-lg">@(Model.phone)</span>
                    </div>
                </div>
                @if (Model.is_invite)
                {
                    <div class="am-cf am-padding am-padding-bottom-sm">
                        <div class="am-fl am-cf">
                            <strong class="am-text-primary am-text-lg">推广链接</strong> :<span class="am-text-danger am-text-lg">@(CustomHelper.GetValue("Company_SiteUrl") + "/Account/Register?invite_code=" + Model.invite_code)</span>
                        </div>
                    </div>
                }
                else
                { 
                    <div class="am-cf am-padding am-padding-bottom-sm">
                    <div class="am-u-lg-12">
                        <div class="am-input-group am-input-group-sm">
                            <span class="am-modal-btn am-btn-primary" onclick="ToInvite()" style="width:10%;height:30px;margin-left:40%;">我要推广</span>
                        </div>
                    </div>
                </div>
                }
                <div class="am-cf am-padding am-padding-bottom-sm">
                    <div class="am-fl am-cf">
                        <strong class="am-text-primary am-text-lg">注册时间</strong> :<span class="am-text-danger am-text-lg">@(Model.reg_time.ToString("yyyy年MM月dd日"))</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    function ToInvite()
    {
        $.Nuoya.action("/Home/ToInvite", {}, function (data) {
            if (data) {
                window.location.reload();
            }
            else
                $.Nuoya.alert("系统错误");
        });
    }
</script>

